$maxWidth: 768px;

//-----------------------------------------
.rela {
	position: relative;
}
//-----------------------------------------

#mainCon {
	max-width: $maxWidth;
}

#dropDown {
	&[show='0'] {
		display: none;
	}
	display: block;
}

.wordOperation {
	float: right;
	margin-left: 10px;
	display: block;
}
