$maxWidth: 768px;

//-----------------------------------------
.rela {
	position: relative;
}
//-----------------------------------------

#mainCon {
	max-width: $maxWidth;
}

#dropDown {
	display: block;
}

.wordOperation {
	float: right;
	margin-left: 10px;
	display: block;
}

.POS{
	border: 1px solid #ddd;
	border-radius: 4px;
}
